@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-font: Arial, Helvetica, sans-serif;
    --text-font-pop: 'Poppins', sans-serif;
    --text-2nd-color: rgb(181, 144, 103);
    --bg-2nd-color: #26252b;
    --bg-color: #151515;
    --text-color: white;
    --title-text-color: #b88e5e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-color);
    padding: 8px 0px 8px 0px;  
}

/* scrolling behavior */

.scroll-down header{
    transform: translate3d(0, -100%, 0);
}

.scroll-up header{
    filter: drop-shadow(0 -10px 20px rgb(10, 10, 10));
}


.mother {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 20px;
}

.box1 a {
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}

.empty_space {
    width: 25%;
    height: 100%;
    display: none;
}

.title_name {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.mobile_header input{
    display: none;
}

.mobile_header {
    display: none;
}



.box2 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.box2 li a {
    font-size: 15px;
}

.pages li {
    display: inline-block;
    padding: 0px 20px;
}

.pages li a{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;

}


.box3 {
    flex-grow: 1;
    display: flex;
    padding-left: 100px;
    justify-content: end;
    align-items: center;
}

.box3 a {
    color: white;
    letter-spacing: 6px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: 400;
}

.menu {
    display: none;
}

h1 {
    font-weight: 1000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}


/*body*/

/*quote*/

.land_pic {
    display: block;
}

.land_pic img{
    display: block;
    width: 100%;
    height: 460px;
    object-fit: cover;
    object-position: center;
}

.quote {
    padding: 40px 0px 10px 0px;
}

.quote_section {
    background-color: var(--bg-color);
}

.hrquote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.hrquote hr {
    border: none;
    border-top: 1px solid hsl(32, 35%, 56%);
    width: 85%;
}

.quote_box {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.quote_text {
    padding: 20px;
}

.quote_text p{
    font-family: var(--text-font);
    font-size: 20px;
    color: rgb(181, 144, 103);
}

.quote_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.quote_name a {
    font-family: var(--text-font);
    align-items: center;
    color: white;
}

.nameko {
    padding: 5px;
    font-size: 13px;
}

.fieldko {
    font-size: 10px;
    padding: 3px;
}

.quotebtnbox {
    padding: 20px;
}


.quote_btn a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(181, 144, 103);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text-2nd-color);
    cursor: pointer;
    transition: ease 1s;
}

.quote_btn:hover {
    background-color: var(--text-2nd-color);
}

.quote_btn a:hover {
    color: white;
}


/*about me*/

.about {
    background-color: var(--bg-color);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_section {
    padding: 30px 0px 30px 0px;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    width: 100%;
}

.about_img_box {
    background-color: var(--bg-color);
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_img_box img{
    width: 500px;
    height: 600px;
    padding-left: 60px;
    object-fit: cover;
    object-position: center;
}

.about_text_box {
    height: 100%;
    width: 50%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
}

.about_text_page {
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: var(--text-font);
}

.about_text {
    height: 100%;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutext {
    padding: 10px 0px 40px 0px;
}

.aboutext a{
    font-size: 35px;
    color: var(--title-text-color);
    font-weight: 500;
}

.abouthi {
    font-family: var(--text-font-pop);
    font-weight: 200;
    padding: 10px 0px 20px 0px;
}

.aboutyap {
    font-family: var(--text-font-pop);
    font-weight: 200;
    padding: 10px 0px 20px 0px;
}


.about_intro {
    color: white;
    width: 70%;
}


.learnmore_btn {
    padding: 20px;
}

.learnmore_btn a {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 550;
    padding: 10px 20px 10px 20px;
    transition: ease 0.3s;
}

.learnmore_btn a:hover {
    color: white; 
    background-color: var(--title-text-color);
}
/*brand collab?*/

.brand_section {
    background-color: var(--bg-color);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brand_box {
    height: 90%;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.brand_text {
    color: var(--title-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /*gap: 20px;*/
    width: 80%;
}

.brand_img {
    height: 100px;
    width: 100px;
    background-color: white;
}

/*picture cut section*/

.picture_section {
    background-color: red;
    height: 400px;
}

.picture_box {
    display: block;
    height: 100%;
}

.picture_box img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




/*IG FEED*/

.insta_section {
    height: 580px;
    width: 100%;
    background-color: white;
}

.insta_box {
    height: 100%;
    width: 100%;
}

.insta_display {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.insta_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    font-family: var(--text-font);
}

.ig_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 150px;
}

.ig_social {
    color: var(--title-text-color);
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
}


.ig_insta {
    padding: 10px 0px 10px 0px;
    color: white;
    font-size: 19px;
}

.ig_facts {
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 30px 0px 30px 0px;
    width: 300px;
}


.insta_btn {
    padding: 20px;
}

.insta_btn a {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 550;
    padding: 10px 20px 10px 20px;
    transition: ease 0.3s;
}

.insta_btn a:hover {
    color: white; 
    background-color: var(--title-text-color);
}

.insta_picbox {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

.insta_pics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    padding-left: 50px;
}

.insta_pics img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 5px;
    cursor: pointer;
    transition: ease 0.5s;
}

/* Contact section */



.contact_page {
    background-image: url(cover2.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* background-color: var(--bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_box {
    height: 90%;
    width: 90vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}

.upper_box {
    padding: 20px 10px 0px 10px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* background-color: white; */
}

.inside_up {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-family: var(--text-font-pop);
}

.title {
    color: var(--title-text-color);
    font-size: 40px;
    letter-spacing: 2px;
}

/* start behavior */

.title {
    opacity: 0;
    transition: ease-in-out 1s;
    transform: scale(90%);
    filter: blur(5px);
    font-family: Arial, Helvetica, sans-serif;
}

.show_title {
    opacity: 1;
    filter: blur(0);
    transform: scale(100%);
}

.yap {
    color: white;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 200;
}

/* start behavior */

.yap {
    opacity: 0;
    transition: ease-in-out 1s;
    filter: blur(5px);
}

.show_yap {
    opacity: 1;
    filter: blur(0);
}


.contact-inputs{
    padding: 10px;
    transition: 0.3s ease;
}

.contact-inputs:hover{
    opacity: 70%;
    transition: 0.3s ease;
}

.lower_box {
    /* padding: 0px 10px 10px 10px; */
    height: 70%;
    width: 100%;
    padding: 40px;
}

.lower_box label {
    z-index: 0;
}

.inside_down {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: grid;
    grid-template-areas:
    "fullname fullname"
    "email email"
    "message message";
    grid-template-rows: 100px 100px auto;
}

.fullname {
    /* background-color: yellow; */
    grid-area: fullname;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.fullname label {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    gap: 7px;
    width: 100%;
    margin-bottom: 5px;
    /* background-color: grey; */
    display: flex;
    align-items: baseline;
}

.inside_down p {
    color: #aaaaaa;
    font-size: 15px;
}

.fullname input {
    width: 100%;
    height: 50px;
}

.firstname {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lastname {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    /* background-color: green; */
    grid-area: email;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.email label {
    align-items: baseline;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    gap: 7px;
    width: 100%;
    margin-bottom: 5px;
    /* background-color: grey; */
}

.email input {
    width: 100%;
    height: 50px;
}

.message {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: brown; */
    grid-area: message;
}

.message label {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    gap: 7px;
    width: 100%;
    margin-bottom: 5px;
    /* background-color: grey; */
}

.message textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100px;
    resize: none;
}

.message button {
    margin-top: 25px;
    width: 100px;
    height: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(181, 144, 103);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--text-2nd-color);
    cursor: pointer;
    transition: ease 0.5s;
}

.message button:hover{
    background-color: var(--text-2nd-color);
    color: white;
}


/*footer*/

.footer_section {
    height: 125px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_box1 {
    padding-top: 15px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_box1 li a {
    font-size: 16px;
    font-weight: 350;
}



.footer_box2 {
    padding-bottom: 15px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_social_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_social_links a {
    color: white;
    letter-spacing: 9px;
    font-size: 25px;
    font-weight: 400;
}

/*transition scroll*/

.hidden {
    opacity: 0;
    transition: ease-in-out 1s;
    transform: scale(90%);
    filter: blur(5px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: scale(100%);
}

.hidden_quote {
    opacity: 0;
    transition: ease-in-out 1s;
    filter: blur(5px);
}

.show_quote {
    opacity: 1;
    filter: blur(0);
}

.hidden_about {
    opacity: 0;
    transition: ease-in-out 1s;
    filter: blur(5px);
    transform: translateY(10%);
}

.show_about {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden_logo {
    opacity: 0;
    transition: ease-in-out 1s;
    filter: blur(5px);
    transform: translateY(10%);
}

.hidden_logo:nth-child(1) {
    transition-delay: 300ms;
}
.hidden_logo:nth-child(2) {
    transition-delay: 200ms;
}
.hidden_logo:nth-child(3) {
    transition-delay: 100ms;
}
.hidden_logo:nth-child(4) {
    transition-delay: 200ms;
}
.hidden_logo:nth-child(5) {
    transition-delay: 300ms;
}

.show_logo {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden_pic {
    opacity: 0;
    transition: ease-in-out 1s;
    filter: blur(5px);
    transform: translateY(10%);
}

.hidden_pic:nth-child(1) {
    transition-delay: 100ms;
}

.hidden_pic:nth-child(2) {
    transition-delay: 200ms;
}

.hidden_pic:nth-child(3) {
    transition-delay: 300ms;
}

.hidden_pic:nth-child(4) {
    transition-delay: 400ms;
}

.hidden_pic:nth-child(5) {
    transition-delay: 500ms;
}

.hidden_pic:nth-child(6) {
    transition-delay: 600ms;
}

.hidden_pic:nth-child(7) {
    transition-delay: 700ms;
}

.hidden_pic:nth-child(8) {
    transition-delay: 800ms;
}

.hidden_pic:nth-child(9) {
    transition-delay: 900ms;
}


.show_pic {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*phone*/

@media  only screen and (max-width: 768px) {

    .pc_header {
        display: none;
    }

    header {
        z-index: 1;
        padding: 0px;
        height: auto;
        position: sticky;
        transition: all 0.3s ease-in-out;
    }

    .mobile_header {
        height: auto;
        overflow: hidden;
        display: flex;
        position: relative;
        transition: 0.5s ease;
    }

/* scrolling behavior */

    .scroll-down .box1_outside{
        transform: translate3d(0, -100%, 0);
    }

    .scroll-up .box1_outside{
        filter: drop-shadow(0 -10px 20px rgb(10, 10, 10));
    }

    .scroll-down .inside_closebtn{
        transform: translate3d(0, -200%, 0);
    }

    .scroll-up .inside_closebtn{
        filter: drop-shadow(0 -10px 20px rgb(10, 10, 10));
    }

/* end */

    .box1_outside {
        position: fixed;
        height: 97px;
        width: 100%;
        background-color: var(--bg-color);
        color: white;
        padding: 20px;
        text-align: center;
        transition: 0.5s ease;
    }

    input:checked ~ .box1_outside {
        background-color: var(--bg-2nd-color);
        transition: 0.5s ease;
    }

    .box1_outside a{
        text-decoration: none;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .mother {
        padding: 0px;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        position: absolute;
        transition: 0.5s ease;
    }
    
    input:checked ~ .mother {
        position: fixed;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: 0.5s ease;
    }

    .box1 {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);
        transition: 0.5s ease;
    }

    .empty_space {
        width: 25%;
        height: 100%;
    }

    .title_name {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title_name a{
        font-size: 18px;
    }

    .box2 {
        width: 100%;
        height: 73%;
        background-color: red;  
        display: flex;
        flex-direction: column;
        opacity: 0%;
        transition: 0.5s ease;
    }
    
    .nav_page {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: var(--bg-2nd-color);
        width: 100%;
        height: 100%;
    }

    .pages {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        padding: 20px;   
    } 

    .pages li a{
        font-size: 35px;
    }

    .box3 {
        width: 100%;
        height: 15%;
        background-color: var(--bg-2nd-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding: 0px 20px 25px;
        opacity: 0%;
        transition: 0.5s ease;
    }

    .box3 a{
        padding-right: 0;
        font-size: 35px;
        font-weight: 400;
    }


    .social_links {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .closebtn {
        position: fixed;
        height: 30px;
        width: 30px;
        cursor: pointer;
        top: 33px;
        right: 40px;
        box-shadow: black;
    }

    .closebtn .common {
        position: absolute;
        height: 2px;
        width: 40px;
        background-color: white;
        transition: 0.3s ease;
    }
    
    .closebtn .upline {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin_closeupline 0.2s ease-out forwards;
    }
    input:checked ~ .closebtn .upline {
        animation: spin_upline 0.2s ease-out forwards;
        top: 45%;
        left: -20%;
    }

    @keyframes spin_upline {
        0% { transform: translate(-50%, -50%) rotate(0deg); }
        100% { transform: rotate(225deg); }
    }

    @keyframes spin_closeupline {
        0% { transform: rotate(225deg); }
        100% { transform: translate(-50%, -50%) rotate(0deg); }
    }
    .closebtn .downline {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin_closedownline 0.2s ease-out forwards;
    }
    input:checked ~ .closebtn .downline{
        top: 45%;
        left: -20%;
        animation: spin_downline 0.2s ease-out forwards;
    }

    @keyframes spin_downline {
        0% { transform:translate(-50%, -50%) rotate(0deg); }
        100% { transform: rotate(-225deg); }
    }
    @keyframes spin_closedownline {
        0% { transform: rotate(-225deg); }
        100% { transform:translate(-50%, -50%) rotate(0deg); }
    }

    input:checked ~ .mother{
        height: 100vh;
        width: 100%;
        opacity: 100%;
    }

    input:checked ~ .mother .box1 {
        background-color: var(--bg-2nd-color);
    }

    input:checked ~ .mother .box2{
        opacity: 100%;
    }
    input:checked ~ .mother .box3{
        opacity: 100%;
    }

    label{
        cursor: pointer;
        z-index: 100;
    }

    .mobile_header input {
        position: absolute;
        z-index: 100;
        top: 33px;
        right: 40px;
        display: block;
        opacity: 0;
    }

    .inside_closebtn {
        position: fixed;
        height: 30px;
        width: 30px;
        cursor: pointer;
        top: 33px;
        right: 40px;
        box-shadow: black;
        transition: 0.5s ease;
    }

    .inside_closebtn .common {
        position: absolute;
        height: 1px;
        width: 40px;
        background-color: white;
        transition: 0.3s ease;
    }
    
    .inside_closebtn .upline {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin_closeupline 0.2s ease-out forwards;
    }
    input:checked ~ .inside_closebtn .upline {
        animation: spin_upline 0.2s ease-out forwards;
        top: 45%;
        left: -20%;
    }

    @keyframes spin_upline {
        0% { transform: translate(-50%, -50%) rotate(0deg); }
        100% { transform: rotate(225deg); }
    }

    @keyframes spin_closeupline {
        0% { transform: rotate(225deg); }
        100% { transform: translate(-50%, -50%) rotate(0deg); }
    }
    .inside_closebtn .downline {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: spin_closedownline 0.2s ease-out forwards;
    }
    input:checked ~ .inside_closebtn .downline{
        top: 45%;
        left: -20%;
        animation: spin_downline 0.2s ease-out forwards;
    }

    @keyframes spin_downline {
        0% { transform:translate(-50%, -50%) rotate(0deg); }
        100% { transform: rotate(-225deg); }
    }
    @keyframes spin_closedownline {
        0% { transform: rotate(-225deg); }
        100% { transform:translate(-50%, -50%) rotate(0deg); }
    }



    .scroll-down header{
        transform: translate3d(0, 0, 0);
    }

    .scroll-up header{
        filter: drop-shadow(0 -10px 20px rgb(10, 10, 10));
    }

    /* end */

    .land_page {
        padding: 23px;
        height: auto;
    }

    .land_pic img{
        height: 275px;
    }

    .quote {
        padding: 0px;
    }

    .quote_section .hrquote{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }

    .quote_text {
        padding: 10px 0px 0px 0px;
    }

    .quote_text p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 250;
    }

    .about {
        padding: 15px 0px 20px 0px;
        height: 600px;
        width: 100%;
    }

    .about_section {
        padding: 0px;
        height: auto;
        width: 90%;
    }

    .about_img_box {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_img_box img{
        width: 100%;
        height: 200px;
        padding-left: 0px;
    }

    .img{
        width: 100%;
        height: 240px;
        padding-left: 0px;
    }

    .img img{
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }


    .about_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .about_text_box {
        height: 100%;
        width: 100%;
        background-color: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about_text_page {
        padding-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-family: var(--text-font);
    }

    .about_text {
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
    }

    .aboutext {
        padding: 20px 0px 20px 0px;
        letter-spacing: 1px;
    }

    .aboutext a{
        font-size: 25px;
        color: var(--title-text-color);
        font-weight: 500;
    }

    .abouthi {
        padding: 20px 0px 10px 0px;
    }

    .aboutyap {
        padding: 10px 0px 20px 0px;
    }


    .about_intro {
        color: white;
        width: 80%;
    }


    .learnmore_btn {
        padding: 20px;
    }

    .learnmore_btn a {
        text-decoration: none;
        color: var(--title-text-color);
        font-weight: 550;
        padding: 10px 20px 10px 20px;
        transition: ease 0.3s;
    }

    .learnmore_btn a:hover {
        color: white; 
        background-color: var(--title-text-color);
    }

    .brand_section {
        background-color: var(--bg-color);
        height: 550px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .brand_icons {
        padding-top: 20px;
        display: grid;
        grid-template-areas:
        "icon1 icon2"
        "icon3 icon4"
        "icon5 icon5";
        grid-template-rows: 100px 100px auto;
        width: 80%;
        gap: 10px;
    }

    .icon1 {
        grid-area: icon1;
    }

    .icon2 {
        grid-area: icon2;
    }

    .icon3 {
        grid-area: icon3;
    }

    .icon4 {
        grid-area: icon4;
    }

    .icon5 {
        grid-area: icon5;
    }

    .picture_section {
        background-color: red;
        height: 200px;
    }

    .picture_box {
        display: block;
        height: 100%;
    }

    .picture_box img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .insta_section {
        height: auto;
        width: 100%;
        background-color: white;
    }

    .insta_box {
        height: 100%;
        width: 100%;
    }

    .insta_display {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .insta_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--bg-color);
        width: 100%;
        height: auto;
        font-family: var(--text-font);
        padding: 60px 0px 30px 0px;
    }

    .ig_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-left: 0px;
    }

    .ig_social {
        color: var(--title-text-color);
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .ig_insta {
        padding: 10px 0px 10px 0px;
        color: white;
        font-size: 18px;
    }

    .ig_facts {
        text-align: center;
        line-height: 25px;
        color: white;
        padding: 15px 0px 15px 0px;
        width: 90%;
        font-size: 15px;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
    }

    .insta_btn {
        padding: 20px;
        display: none;
    }

    .insta_btn a {
        display:  none;
        text-decoration: none;
        color: var(--title-text-color);
        font-weight: 550;
        padding: 10px 20px 10px 20px;
        transition: ease 0.3s;
    }

    .insta_btn a:hover {
        color: white; 
        background-color: var(--title-text-color);
    }

    .insta_picbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        background-color: var(--bg-color);
    }

    .insta_pics {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: 95%;
        padding-left: 0px;
    }

    .insta_pics img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        gap: 8px;
        cursor: pointer;
        transition: ease 0.5s;
    }

    .footer_box {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer_box1 {
        height: 50%;
        width: 100%;
    }

    .footer_box1 ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer_box1 li a {
        font-size: 13px;
        font-weight: 350;
    }

    /* contact section */

    .contact_page input{
        opacity: 1;
    }

    .title {
        color: var(--title-text-color);
        font-size: 30px;
        letter-spacing: 2px;
    }

    .yap {
        color: white;
        font-style: normal;
        font-size: 14px;
        line-height: 1.5;
        font-weight: 200;
    }

    .lower_box {
        padding: 0px 25px 10px 25px;
        height: 70%;
        width: 100%;
        /* padding: 40px; */
    }
}


